<!DOCTYPE html>
<html>
    <head>
        <title>WEATHER FORCAST</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <form id="form">
                <input type="text" id="address" placeholder="Enter Your Country Name ">
                <button>Submit</button>
            </form>
            <p id="location">Welcome to our website. Enter Your Country Name to know the weather, longtitude and latitude</p>
            <p id="latit"></p>
            <p id="longtit"></p>
            <p id="forcast"></p>
            <p id="error"></p>
        </div>
        <script src="js/script.js"></script>
    </body>
</html>